<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
	<select id="getListCount" resultType="_int">
		select count(*)
		from board
		where b_status = 'N'
		and b_type = #{bType}
	</select>

	<select id="selectNoticeList" resultMap="noticeResultSet">
		select B_NO, B_TITLE, B_CONTENT, B_DATE, B_COUNT, B_TYPE, B_CRITICAL, B_WRITER,
       		   NAME, B_STATUS, F_NO, F_URL, F_NAME, F_RNAME
		from board
	 		 join member on (b_writer = m_no)
	 		 left join board_file using (b_no)
		where b_status = 'N'
      	  and b_type = 'NOTICE'
		order by b_no desc
	</select>
	
	<resultMap type="Board" id="noticeResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_CRITICAL" property="bCritical"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="B_STATUS" property="bStatus"/>
		<collection property="fileList" resultMap="fileResultSet" javaType="arrayList"/>
	</resultMap>
	
	<resultMap type="BoardFile" id="fileResultSet">
		<id column="F_NO" property="fNo"/>
		<result column="F_URL" property="fURL"/>
		<result column="F_NAME" property="fName"/>
		<result column="F_RNAME" property="fRname"/>
		<result column="B_NO" property="refBNo"/>
	</resultMap>
	
	<insert id="insertNotice">
		insert into board
		values(SEQ_BOARD.NEXTVAL, #{bTitle}, #{bContent}, SYSDATE, DEFAULT, 'NOTICE', #{bCritical},
			   #{bWriter}, NULL, DEFAULT)
	</insert>
	
	<insert id="insertNoticeFile">
		insert into board_file
		values(SEQ_FILE.NEXTVAL, #{fURL}, #{fName}, #{fRname}, SEQ_BOARD.CURRVAL)
	</insert>
	
	<select id="selectNotice" resultMap="noticeResultSet">
		select B_NO, B_TITLE, B_CONTENT, B_DATE, B_COUNT, B_TYPE, B_CRITICAL, B_WRITER,
       		   NAME, B_STATUS, F_NO, F_URL, F_NAME, F_RNAME
		from board
	 		 join member on (b_writer = m_no)
	 		 left join board_file using (b_no)
		where b_no = #{bNo}
		and b_status = 'N'
	</select>
	
	<update id="addReadCount">
		update board
		set b_count = b_count + 1
		where b_no = #{bNo}
		and b_status = 'N'
	</update>
	
	<select id="selectFile" resultMap="fileResultSet">
		select *
		from board_file
		where f_no = #{fNO}
	</select>
	
	<delete id="deleteNoticeFile">
		delete from board_file
		where f_no = #{fNo}
	</delete>
	
	<update id="updateNotice">
		update board
		set b_title = #{bTitle}, b_content = #{bContent}, b_critical = #{bCritical}
		where b_no = #{bNo}
		and b_status = 'N'
	</update>
	
	<insert id="updateNoticeFile">
		insert into board_file
		values(SEQ_FILE.NEXTVAL, #{fURL}, #{fName}, #{fRname}, #{refBNo})
	</insert>
	
	<update id="deleteNotice">
		update board
		set b_status = 'Y'
		where b_no = #{bNo}
	</update>
	
	<select id="getNoticeSearchListCount" resultType="_int">
		select count(*)
		from board 
		where b_status = 'N'
			  and b_type = #{type}
		<if test="condition == 'title'">
			  and b_title like '%' || #{value} || '%'
		</if>
		<if test="condition == 'content'">
			  and b_content like '%' || #{value} || '%'
		</if>
	</select>
	
	<select id="selectNoticeSearchList" resultMap="noticeResultSet">
		select B_NO, B_TITLE, B_CONTENT, B_DATE, B_COUNT, B_TYPE, B_CRITICAL, B_WRITER,
       		   NAME, B_STATUS, F_NO, F_URL, F_NAME, F_RNAME
		from board
	 		 join member on (b_writer = m_no)
	 		 left join board_file using (b_no)
		where b_status = 'N'
      	  and b_type = #{type}
      	  <if test="condition == 'title'">
			  and b_title like '%' || #{value} || '%'
		  </if>
		  <if test="condition == 'content'">
			  and b_content like '%' || #{value} || '%'
		  </if>
		order by b_no desc
	</select>
	
	<insert id="insertCommonBoard">
		insert into board
		values(SEQ_BOARD.NEXTVAL, #{bTitle}, #{bContent}, SYSDATE, DEFAULT, 'COMMON', NULL, #{bWriter}, #{categoryNo}, DEFAULT)
	</insert>
	
	<select id="selectCommonList" parameterType="int" resultMap="commonBoardResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, category_no, category_name, b_status,
			   f_no, f_url, f_name, f_rname
		from board
			 join member on(b_writer = m_no)
			 join category using(category_no)
			 left join board_file using(b_no)
		where b_type = 'COMMON'
			  and b_status = 'N'
			  <if test='value != null'>
			  	and category_no = #{value}
			  </if>
		order by b_no desc
	</select>
	
	<resultMap type="Board" id="commonBoardResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="B_STATUS" property="bStatus"/>
		<collection property="fileList" resultMap="fileResultSet" javaType="arrayList"/>
	</resultMap>
	
	<select id="getCategoryListCount" resultType="_int">
		select count(*)
		from board
		where b_type = 'COMMON'
			  and b_status = 'N'
			  and category_no = #{category}
	</select>
	
	<select id="selectCommonBoard" resultMap="commonBoardResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, category_no, category_name, b_status,
			   f_no, f_url, f_name, f_rname
		from board
			 join member on(b_writer = m_no)
			 join category using(category_no)
			 left join board_file using(b_no)
		where b_status = 'N'
			  and b_no = #{bNo}
	</select>
	
	<update id="updateCommonBoard">
		update board
		set b_title = #{bTitle}, b_content = #{bContent}, category_no = #{categoryNo}
		where b_no = #{bNo}
	</update>
	
	<select id="getCommonSearchListCount" resultType="_int">
		select count(*)
		from board
		<where>
			<if test="searchCategory == 'title'">
				b_title like '%' || #{searchValue} || '%'
			</if>
			<if test="searchCategory == 'content'">
				and b_content like '%' || #{searchValue} || '%'
			</if>
			<if test="category != null">
				and category_no = #{category}
			</if>
		</where>
	</select>
	
	<select id="selectCommonSearchList" resultMap="commonBoardResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, category_no, category_name, b_status,
			   f_no, f_url, f_name, f_rname
		from board
			 join member on(b_writer = m_no)
			 join category using(category_no)
			 left join board_file using(b_no)
		<where>
			b_type = 'COMMON'
			and b_status = 'N'
			<if test="searchCategory == 'title'">
				and b_title like '%' || #{searchValue} || '%'
			</if>
			<if test="searchCategory == 'content'">
				and b_content like '%' || #{searchValue} || '%'
			</if>
			<if test="searchCategory == 'writer'">
				and name like '%' || #{searchValue} || '%'
			</if>
			<if test="category != null">
				and category_no = #{category}
			</if>
		</where>	  
		order by b_no desc
	</select>
	
	<insert id="insertCommonReply">
		insert into reply
		values(seq_reply.nextval, #{rContent}, sysdate, #{bNo}, #{rName}, default)
	</insert>
	
	<select id="selectCommonReplyList" resultMap="replyResultSet">
		select r_no, r_content, r_date, b_no, r_name, name, r_status
		from reply
			 join member on(r_name = m_no)
		where b_no = #{bNo}
			  and r_status = 'N'
		order by r_no
	</select>
	
	<resultMap type="Reply" id="replyResultSet">
		<id column="R_NO" property="rNo"/>
		<result column="R_CONTENT" property="rContent"/>
		<result column="R_DATE" property="rDate"/>
		<result column="B_NO" property="bNo"/>
		<result column="R_NAME" property="rName"/>
		<result column="NAME" property="name"/>
		<result column="R_STATUS" property="rStatus"/>
	</resultMap>
	
	<update id="deleteCommonReply">
		update reply
		set r_status = 'Y'
		where r_no = #{rNo}
	</update>
	
	<select id="selectCommonTopList" resultMap="commonTopResultSet">
		<![CDATA[
			select *
			from(select rownum, b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, category_no, category_name, b_status
				 from board
					  join member on(b_writer = m_no)
					  join category using(category_no)
				 where b_type = 'COMMON'
					   and b_status = 'N'
				 order by b_count desc)
			where rownum <= 5
		]]>
	</select>
	
	<select id="selectNoticeRecentList" resultMap="mainListResultSet">
		select *
		from (select B_NO, B_TITLE, B_CONTENT, B_DATE, B_COUNT, B_TYPE, B_CRITICAL, B_WRITER,
	       		   NAME, B_STATUS
				from board
			 		 join member on (b_writer = m_no)
				where b_status = 'N'
		      	  and b_type = 'NOTICE'
				order by b_no desc) 
		where rownum <![CDATA[<=]]> 5
	</select>
	
	<resultMap type="Board" id="mainListResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_CRITICAL" property="bCritical"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="B_STATUS" property="bStatus"/>
	</resultMap>
	
	<resultMap type="Board" id="commonTopResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="B_STATUS" property="bStatus"/>
	</resultMap>
	
	<select id="selectAllCategory" resultMap="categoryResultSet">
		select *
		from category
	</select>
	
	<resultMap type="Category" id="categoryResultSet">
		<id column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
	</resultMap>
	
	
	
	
	
	
	
	
	<select id="getZListCount" resultType="_int">
		select count(*)
		from board
		where b_status = 'N'
	</select>
	
	<select id="selectZList" resultMap="noticeResultSet">
		select * 
		from board
			join member on(b_writer = m_no)
		where b_status='N'
		order by b_no desc
	</select>
	
	<insert id="zoomInsert">
		insert into board
		values(seq_board.nextval, #{bTitle}, #{bContent}, SYSDATE, default, 'ZOOM', default,
				#{bWriter}, default, default)
	</insert>
	
	<select id="zoomDetail" resultMap="zoomResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, category_no, b_status
		from board
			 join member on(b_writer = m_no)
		where b_status = 'N' and b_no = #{bNo}
	</select>
	
	<resultMap type="Board" id="zoomResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_CRITICAL" property="bCritical"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="B_STATUS" property="bStatus"/>
	</resultMap>
	
	<update id="zoomDelete">
		update board
		set b_status = 'Y'
		where b_no = #{bNo}
	</update>
	
	<select id="selectAnonyList" resultMap="noticeResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, b_status,
				f_no, f_url, f_name, f_rname
		from board
				left join board_file using (b_no)
		where b_status = 'N'
			  and b_type = 'ANONY'
		order by b_no desc
	</select>
	
	<insert id="insertAnony">
		insert into board
		values(SEQ_BOARD.NEXTVAL, #{bTitle}, #{bContent}, SYSDATE, DEFAULT, 'ANONY', NULL, 
				#{bWriter}, NULL, DEFAULT)
	</insert>
	
	<select id="selectAnonyBoard" resultMap="anonyBoardResultSet">
		select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, b_status, f_no, f_url, f_name, f_rname
		from board
			 join member on(b_writer = m_no)
			 left join board_file using(b_no)
		where b_status = 'N' and b_no = #{bNo}
	</select>
	
	<resultMap type="Board" id="anonyBoardResultSet">
		<id column="B_NO" property="bNo"/>
		<result column="B_TITLE" property="bTitle"/>
		<result column="B_CONTENT" property="bContent"/>
		<result column="B_DATE" property="bDate"/>
		<result column="B_COUNT" property="bCount"/>
		<result column="B_TYPE" property="bType"/>
		<result column="B_WRITER" property="bWriter"/>
		<result column="NAME" property="name"/>
		<result column="B_STATUS" property="bStatus"/>
		<collection property="fileList" resultMap="fileResultSet" javaType="arrayList"/>
	</resultMap>
	
	<update id="updateAnonyBoard">
		update board
		set b_title = #{bTitle}, b_content = #{bContent}
		where b_no = #{bNo}
		and b_status = 'N'
	</update>
	
	<update id="deleteAnony">
		update board
		set b_status = 'Y'
		where b_no = #{bNo}
	</update>
	
	<insert id="insertAnonyReply">
		insert into reply
		values(seq_reply.nextval, #{rContent}, sysdate, #{bNo}, #{rName}, default)
	</insert>
	
	<select id="getAnonySearchListCount" resultType="_int">
		select count(*)
		from board
		<where>
			<if test="searchCategory == 'title'">
				b_title like '%' || #{searchValue} || '%'
			</if>
			<if test="searchCategory == 'content'">
				and b_content like '%' || #{searchValue} || '%'
			</if>
		</where>
	</select>
	
	<select id="selectAnonySearchList" resultMap="anonyBoardResultSet">
			select b_no, b_title, b_content, b_date, b_count, b_type, b_writer, name, b_status, f_no, f_url, f_name, f_rname
		from board
			 join member on(b_writer = m_no)
			 left join board_file using(b_no)
		<where>
			b_type = 'ANONY'
			and b_status = 'N'
			<if test="searchCategory == 'title'">
				and b_title like '%' || #{searchValue} || '%'
			</if>
			<if test="searchCategory == 'content'">
				and b_content like '%' || #{searchValue} || '%'
			</if>
		</where>	  
		order by b_no desc
	</select>
</mapper>
