<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">
	<insert id="insertPCalendar">
		insert into calendar
		values(SEQ_CAL.NEXTVAL, 0, #{calStart}, #{calEnd}, #{calTitle}, #{calContent}, #{calWriter}, DEFAULT)
	</insert>
</mapper>
